<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005245374810-359ciru2vqjv45id6csndaht0ruq5ndg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005245374810-359ciru2vqjv45id6csndaht0ruq5ndg</string>
	<key>API_KEY</key>
	<string>AIzaSyCDPgR4KZspi4S9WV-EfVxz2CY86eplDbs</string>
	<key>GCM_SENDER_ID</key>
	<string>1005245374810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hoteldunamys</string>
	<key>PROJECT_ID</key>
	<string>hotel-dunamys-ay9x21</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-dunamys-ay9x21.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005245374810:ios:6ad78a30d00b9d5aa99363</string>
</dict>
</plist>